@charset "utf-8";
/* CSS Document */

.position-wrap {
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding-bottom: 6px;
    overflow: hidden;
	margin-top: 5px;
}

.position-wrap span.selected, .position-wrap a.selected {
    color: #000;
    display: inline;
    font-weight: bold;
}

.lyt-content-left{
	width:150px;
	float:left;	
	margin-top:15px;
}
.sort_title{
	border-bottom:#999 1px solid;
	font-size:16px;
	min-height:20px;
	margin:5px 0;
	font-weight:bold;
}
.sort_title span{
	color:#999;
	font-size:14px;
	margin-left:5px;
}
.sort_list{
	font-size:12px;
	margin-bottom:15px;
	line-height: 150%;
}
.sort_list li{
	margin:5px 0;
}


ul.selected_color li span {
    display: block;
    width: 14px;
    height: 14px;
    float: right;
    margin: 5px;
    right: 30px;
    position: relative;
}






.lyt-content-left input[type="reset"] {
	height:26px; 
	line-height:26px; 
	width:150px;
	background-color:#000; 
	color:#fff; 
	border:0; 
	cursor:pointer;
}

.arrow { display: block; width: 16px; height: 16px; background: no-repeat center; float: right; }
.arrow.up { background-image: url(../images/arrow_u.png); }
.arrow.down { background-image: url(../images/arrow_d.png); }
/*right*/

.lyt-sidebar-right{
	margin:10px 0 0 20px;
	width:830px;
	float:left;

}
/*.lyt-sidebar-right img{
	width:830px;
}*/

.hot-sell {
float: left;
width: 100%;
overflow: hidden;

}
.up_form{
	padding-bottom: 2px;
	border-bottom:#999 solid 1px;
}
.form_label{
	margin:0 8px;
}
.page-select {
	float:left;
}
/*page*/
.space {
height: 28px;
line-height: 28px;
color: #000;
width: 100%;
}

.pagination {
float: right;
}

.pagination li {
float: left;
margin-right: 10px;
font-weight: bold;
font-size: 13px;
}

.pagination li a {
margin: 0 6px;
color: #000;
text-decoration: none;
font-weight: normal;
}

/*productlist-wrap*/
.productlist-wrap {
float: left;
width: 100%;
margin: 10px 0;
}

.shoe_show{
  float: left;
  width:200px;
  height:250px;
  line-height:180%;
  margin:0 3.75px;
}

.shoe_show img{
  width:127px;
  height:127px;
  margin:20px 36.5px;
}
.date-info{
  display: inline-block;
  font-size: 14px;
  float: right;
  color: #ef7d36;
  padding-right:15px;
  font-weight:bold;
  text-decoration:underline;
}



